# Olist E-Commerce Dataset Project
### Machine Learning 1
###### Team Members
• Helene Barrera 
• Justin Ehly 
• Babatunde “John” Olanipekun 
• Feby Thomas Cheruvathoor

In [1]:
# set up environment
import numpy as np
import pandas as pd
import os
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

# get current working directory
os.getcwd()
# change working directory
os.chdir('C:/Users/justi/Documents/GitHub/olist/data')
os.getcwd()

'C:\\Users\\justi\\Documents\\GitHub\\olist\\data'

In [2]:
customers = pd.read_csv('olist_customers_dataset.csv')
items = pd.read_csv('olist_order_items_dataset.csv')
payments = pd.read_csv('olist_order_payments_dataset.csv')
reviews = pd.read_csv('olist_order_reviews_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')
sellers = pd.read_csv('olist_sellers_dataset.csv')
translation = pd.read_csv('product_category_name_translation.csv')
geolocation = pd.read_csv('olist_geolocation_dataset.csv')

In [3]:
the_df = {'customers': customers,
              'items': items, 
              'payments': payments, 
              'orders': orders, 
              'products': products, 
              'sellers': sellers, 
              'reviews': reviews,
              'categories': translation,
              'geolocation': geolocation}
print("_______________________________________________________________________________________________")
print("Description of the {} dataframes".format(len(the_df)))
print("_______________________________________________________________________________________________")
for i, j in the_df.items():
    print('{} dataframe:      {} rows and {} columns'.format(str(i),j.shape[0],j.shape[1]))
    print(list(j.columns))
    print("")
print("________________________________________________________________________________________________")

_______________________________________________________________________________________________
Description of the 9 dataframes
_______________________________________________________________________________________________
customers dataframe:      99441 rows and 5 columns
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

items dataframe:      112650 rows and 7 columns
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

payments dataframe:      103886 rows and 5 columns
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

orders dataframe:      99441 rows and 8 columns
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

products dataframe:      32951 rows and 9 columns
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

sellers dataframe:      3095 rows and 4 columns
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

reviews dataframe:      100000 rows and 7 columns
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

categories dataframe:      71 rows and 2 columns
['product_category_name', 'product_category_name_english']

geolocation dataframe:      1000163 rows and 5 columns
['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

________________________________________________________________________________________________

# Merge the CSV Files
### Begin the process of merging the csv files together
Keeping in mind there are going to duplicate keys for order_id and customer_id because one order may contain 
- 1 item
- 1 payment 
- 1 review (each item may have a separate review)
### List of Pre-Merge Items
1. ~~Need to merge customers + geolocation as customers_geo~~
2. ~~Need to merge sellers + geolocation as sellers_geo~~
3. Need to merge products + translations as pdf
    * imput 2 missing translations as products_eng
    * remove original category
    * rename english category to shorten name to *product_category_english*

##### BIG NOTE TO JOHN
-I know how bad you want to play with the geolocation data, but due to the number of duplicate zip code prefixes of 19,015 this increases the customerso df to 15,083,733 records and it takes up over 1.2G memory before we even start to merge with other df's
-I expect the same thing might happen with with the sellers df.

### Merge order
1. inner merge customers + orders as df 
2. right merge df + reviews as df2
3. right merge df2 + payments as df3
4. right merge df3 + items as df4
5. left merge df4 + pdf as df5
6. left merge df5 + sellers as df6
7. set olist = df6

## DF1
### Merge customers + orders df's

In [4]:
# get data from github repo on hard disk
df = pd.merge(orders, customers, on="customer_id")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99441 entries, 0 to 99440
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   customer_unique_id             99441 non-null  object
 9   customer_zip_code_prefix       99441 non-null  int64
 10  customer_city                  99441 non-null  object
 11  customer_state                 99441 non-null  object
dtypes: int64(1), object(11)
memory usage: 9.9+ MB

In [6]:
#df.head(5)

## DF2
### Now let's add the reviews df (left)
1. how many duplicate keys order_id are there in the df
2. merge df with olist df
3. verify merge and check that we have the correct number of duplicated keys in the resulting merge

In [7]:
# how may duplicate order_id keys are in this dataframe?
dup_review_keys = reviews[reviews.order_id.duplicated()]
dup_review_keys.count()
#559 - this works out because we have 99441 unique order_ids that equals customer_id's

review_id                  559
order_id                   559
review_score               559
review_comment_title        18
review_comment_message     198
review_creation_date       559
review_answer_timestamp    559
dtype: int64

In [8]:
df2 = df.merge(reviews, on='order_id', how="right")

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       100000 non-null  object
 1   customer_id                    100000 non-null  object
 2   order_status                   100000 non-null  object
 3   order_purchase_timestamp       100000 non-null  object
 4   order_approved_at              99839 non-null   object
 5   order_delivered_carrier_date   98207 non-null   object
 6   order_delivered_customer_date  97013 non-null   object
 7   order_estimated_delivery_date  100000 non-null  object
 8   customer_unique_id             100000 non-null  object
 9   customer_zip_code_prefix       100000 non-null  int64
 10  customer_city                  100000 non-null  object
 11  customer_state                 100000 non-null  object
 12  review_id                      100000 non-null  object
 13  review_score                   100000 non-null  int64
 14  review_comment_title           11715 non-null   object
 15  review_comment_message         41753 non-null   object
 16  review_creation_date           100000 non-null  object
 17  review_answer_timestamp        100000 non-null  object
dtypes: int64(2), object(16)
memory usage: 14.5+ MB

In [10]:
df2.isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                  161
order_delivered_carrier_date      1793
order_delivered_customer_date     2987
order_estimated_delivery_date        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
review_id                            0
review_score                         0
review_comment_title             88285
review_comment_message           58247
review_creation_date                 0
review_answer_timestamp              0
dtype: int64

In [11]:
# checking to make sure we are getting the correct results after merging the order reviews with olist dataframe
duplicate_rows = df2[df2.order_id.duplicated(keep=False)]
duplicate_rows.count()
# 8545 records have duplicated order_ids, so we know that many reviews are part of multi-item orders

order_id                         1114
customer_id                      1114
order_status                     1114
order_purchase_timestamp         1114
order_approved_at                1112
order_delivered_carrier_date     1094
order_delivered_customer_date    1070
order_estimated_delivery_date    1114
customer_unique_id               1114
customer_zip_code_prefix         1114
customer_city                    1114
customer_state                   1114
review_id                        1114
review_score                     1114
review_comment_title               36
review_comment_message            399
review_creation_date             1114
review_answer_timestamp          1114
dtype: int64

## DF3
### right merge the payments df to the olist df using the order_id key
1. check how many duplicate keys we have: order_id, there are 4445 more rows in this df than the original orders df
2. merge
3. confirm merge

In [12]:
# how many order_id's are duplicated in the payment dataframe, based on our initial 
# kaggle data the df is 4445 recrods larger than the orders df
pymt_dups = payments[payments.order_id.duplicated(keep=False)] #false keeps the first record in the duplicates
pymt_dups.count()
# 7407 records were part of multi-payment orders

order_id                7407
payment_sequential      7407
payment_type            7407
payment_installments    7407
payment_value           7407
dtype: int64

In [13]:
# merge df's

df3 = df2.merge(payments, on="order_id", how="right")
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104485 entries, 0 to 104484
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       104485 non-null  object
 1   customer_id                    104485 non-null  object
 2   order_status                   104485 non-null  object
 3   order_purchase_timestamp       104485 non-null  object
 4   order_approved_at              104309 non-null  object
 5   order_delivered_carrier_date   102587 non-null  object
 6   order_delivered_customer_date  101331 non-null  object
 7   order_estimated_delivery_date  104485 non-null  object
 8   customer_unique_id             104485 non-null  object
 9   customer_zip_code_prefix       104485 non-null  int64
 10  customer_city                  104485 non-null  object
 11  customer_state                 104485 non-null  object
 12  review_id                      104485 non-null  object
 13  review_score                   104485 non-null  int64
 14  review_comment_title           12151 non-null   object
 15  review_comment_message         43623 non-null   object
 16  review_creation_date           104485 non-null  object
 17  review_answer_timestamp        104485 non-null  object
 18  payment_sequential             104485 non-null  int64
 19  payment_type                   104485 non-null  object
 20  payment_installments           104485 non-null  int64
 21  payment_value                  104485 non-null  float64
dtypes: float64(1), int64(4), object(17)
memory usage: 18.3+ MB

In [14]:
df3.isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                  176
order_delivered_carrier_date      1898
order_delivered_customer_date     3154
order_estimated_delivery_date        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
review_id                            0
review_score                         0
review_comment_title             92334
review_comment_message           60862
review_creation_date                 0
review_answer_timestamp              0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
dtype: int64

## DF4
### left merge the items df to the olist df using the order_id key
1. how many duplicate keys are there: order_id, there are 13,209 more records in this df than in the original orders df
2. merge
3. confirm merge

In [15]:
# confirm duplicate keys
dup_item_keys = items[items.order_id.duplicated(keep=False)] #false counts the first row of the duplicated rows
dup_item_keys.count()
# so we have about 23787 records that are part of multiple item order_ids - just good to know for summary stats

order_id               23787
order_item_id          23787
product_id             23787
seller_id              23787
shipping_limit_date    23787
price                  23787
freight_value          23787
dtype: int64

In [16]:
# merge items df into olist df
# merge right because there are more entries in the items df than the orders df & items won't exist if they weren't ordered
df4 = df3.merge(items, on='order_id', how='left') 
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119148 entries, 0 to 119147
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119148 non-null  object
 1   customer_id                    119148 non-null  object
 2   order_status                   119148 non-null  object
 3   order_purchase_timestamp       119148 non-null  object
 4   order_approved_at              118971 non-null  object
 5   order_delivered_carrier_date   117062 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  119148 non-null  object
 8   customer_unique_id             119148 non-null  object
 9   customer_zip_code_prefix       119148 non-null  int64
 10  customer_city                  119148 non-null  object
 11  customer_state                 119148 non-null  object
 12  review_id                      119148 non-null  object
 13  review_score                   119148 non-null  int64
 14  review_comment_title           14189 non-null   object
 15  review_comment_message         51247 non-null   object
 16  review_creation_date           119148 non-null  object
 17  review_answer_timestamp        119148 non-null  object
 18  payment_sequential             119148 non-null  int64
 19  payment_type                   119148 non-null  object
 20  payment_installments           119148 non-null  int64
 21  payment_value                  119148 non-null  float64
 22  order_item_id                  118315 non-null  float64
 23  product_id                     118315 non-null  object
 24  seller_id                      118315 non-null  object
 25  shipping_limit_date            118315 non-null  object
 26  price                          118315 non-null  float64
 27  freight_value                  118315 non-null  float64
dtypes: float64(4), int64(4), object(20)
memory usage: 26.4+ MB

In [17]:
df4.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             104959
review_comment_message            67901
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
dtype: int64

## Products DF
### Merger English translations of categories with the products dataframe
1. there are also 71 english category translations made available to us, we should merge those 2 df's 
2. verify that merge
3. merge that revised df to the olist dataframe

In [18]:
# quick visual of the translation df
translation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [19]:
unique_categories_portuguese = products.product_category_name.unique() #creates an array objest of unique categories
len(unique_categories_portuguese) # counts the number of entries in the array
# we have 74 unique categories in portuguese and only 71 translated -
# we will have 3x missing category translations
# we will soon find out if kaggle did the homework for us and only translated the ones used in the overall dataset

74

In [20]:
# merge products with translation
pdf = products.merge(translation, on='product_category_name', how='left')
pdf.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [21]:
#let's make sure we didn't lose any data
pdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_category_name          32341 non-null  object
 2   product_name_lenght            32341 non-null  float64
 3   product_description_lenght     32341 non-null  float64
 4   product_photos_qty             32341 non-null  float64
 5   product_weight_g               32949 non-null  float64
 6   product_length_cm              32949 non-null  float64
 7   product_height_cm              32949 non-null  float64
 8   product_width_cm               32949 non-null  float64
 9   product_category_name_english  32328 non-null  object
dtypes: float64(7), object(3)
memory usage: 2.8+ MB

In [22]:
# let's see what didn't translate
uniq = pdf.drop_duplicates(subset = ['product_category_name','product_category_name_english']) # capture unique values only
uniq = uniq[['product_category_name','product_category_name_english']] # just want to keep these 2 columns
uniq

,product_category_name,product_category_name_english
0,perfumaria,perfumery
1,artes,art
2,esporte_lazer,sports_leisure
3,bebes,baby
4,utilidades_domesticas,housewares
...,...,...
4713,casa_conforto_2,home_comfort_2
5821,portateis_cozinha_e_preparadores_de_alimentos,NaN
6060,seguros_e_servicos,security_and_services
7046,moveis_colchao_e_estofado,furniture_mattress_and_upholstery
18189,cds_dvds_musicais,cds_dvds_musicals

In [23]:
# looks like we are missing some english translations for categories - let's see how many
# create a boolean variable to filter the the products by the NaNs from the english translatioins
no_eng_trans = uniq.product_category_name_english.isnull()

#filter the dataframe by the returned NA lines for english translations
no_trans = uniq[no_eng_trans]

#show how many orders were cancelled
no_trans.head()

,product_category_name,product_category_name_english
105,NaN,NaN
1628,pc_gamer,NaN
5821,portateis_cozinha_e_preparadores_de_alimentos,NaN

In [24]:
#let's go ahead and impute that pc_gamer and
# also using google translate, the other one is: portable kitchen and food preparers

# disable chained assignments
pd.options.mode.chained_assignment = None 

for i in range(len(pdf)):
    if pdf.iloc[i,1] == "pc_gamer":
        pdf.iloc[i,9] = "pc_gamer"
    else:
        if pdf.iloc[i,1] == "portateis_cozinha_e_preparadores_de_alimentos":
            pdf.iloc[i,9] = "portable_kitchen_and_food_preparers"

In [25]:
pdf.isnull().sum()
# looks like everything is matching up nicely here

product_id                         0
product_category_name            610
product_name_lenght              610
product_description_lenght       610
product_photos_qty               610
product_weight_g                   2
product_length_cm                  2
product_height_cm                  2
product_width_cm                   2
product_category_name_english    610
dtype: int64

In [26]:
unq_cat = pdf.product_category_name_english.unique()
for x in range(len(unq_cat)):
    print(unq_cat[x])
# ok looks like we successfully added those 2 categories to the english translation list

perfumery
art
sports_leisure
baby
housewares
musical_instruments
cool_stuff
furniture_decor
home_appliances
toys
bed_bath_table
construction_tools_safety
computers_accessories
health_beauty
luggage_accessories
garden_tools
office_furniture
auto
electronics
fashion_shoes
telephony
stationery
fashion_bags_accessories
computers
home_construction
watches_gifts
construction_tools_construction
pet_shop
small_appliances
agro_industry_and_commerce
nan
furniture_living_room
signaling_and_security
air_conditioning
consoles_games
books_general_interest
costruction_tools_tools
fashion_underwear_beach
fashion_male_clothing
kitchen_dining_laundry_garden_furniture
industry_commerce_and_business
fixed_telephony
construction_tools_lights
books_technical
home_appliances_2
party_supplies
drinks
market_place
la_cuisine
costruction_tools_garden
fashio_female_clothing
home_confort
audio
food_drink
music
food
tablets_printing_image
books_imported
small_appliances_home_oven_and_coffee
fashion_sport
christmas_supplies
fashion_childrens_clothes
dvds_blu_ray
arts_and_craftmanship
pc_gamer
furniture_bedroom
cine_photo
diapers_and_hygiene
flowers
home_comfort_2
portable_kitchen_and_food_preparers
security_and_services
furniture_mattress_and_upholstery
cds_dvds_musicals

In [27]:
# drop the original product category name in portuguese
pdf = pdf.drop(['product_category_name'], axis=1) # axis=1 means column
pdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32951 non-null  object
 1   product_name_lenght            32341 non-null  float64
 2   product_description_lenght     32341 non-null  float64
 3   product_photos_qty             32341 non-null  float64
 4   product_weight_g               32949 non-null  float64
 5   product_length_cm              32949 non-null  float64
 6   product_height_cm              32949 non-null  float64
 7   product_width_cm               32949 non-null  float64
 8   product_category_name_english  32341 non-null  object
dtypes: float64(7), object(2)
memory usage: 3.8+ MB

In [28]:
# rename category column
pdf = pdf.rename(columns={'product_category_name_english': "product_category_english"})
pdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_name_lenght         32341 non-null  float64
 2   product_description_lenght  32341 non-null  float64
 3   product_photos_qty          32341 non-null  float64
 4   product_weight_g            32949 non-null  float64
 5   product_length_cm           32949 non-null  float64
 6   product_height_cm           32949 non-null  float64
 7   product_width_cm            32949 non-null  float64
 8   product_category_english    32341 non-null  object
dtypes: float64(7), object(2)
memory usage: 2.5+ MB

## DF5
### left merge the NEW REVISED products dataframe with the olist dateframe

In [29]:
df5 = df4.merge(pdf, on="product_id", how='left')
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119148 entries, 0 to 119147
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119148 non-null  object
 1   customer_id                    119148 non-null  object
 2   order_status                   119148 non-null  object
 3   order_purchase_timestamp       119148 non-null  object
 4   order_approved_at              118971 non-null  object
 5   order_delivered_carrier_date   117062 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  119148 non-null  object
 8   customer_unique_id             119148 non-null  object
 9   customer_zip_code_prefix       119148 non-null  int64
 10  customer_city                  119148 non-null  object
 11  customer_state                 119148 non-null  object
 12  review_id                      119148 non-null  object
 13  review_score                   119148 non-null  int64
 14  review_comment_title           14189 non-null   object
 15  review_comment_message         51247 non-null   object
 16  review_creation_date           119148 non-null  object
 17  review_answer_timestamp        119148 non-null  object
 18  payment_sequential             119148 non-null  int64
 19  payment_type                   119148 non-null  object
 20  payment_installments           119148 non-null  int64
 21  payment_value                  119148 non-null  float64
 22  order_item_id                  118315 non-null  float64
 23  product_id                     118315 non-null  object
 24  seller_id                      118315 non-null  object
 25  shipping_limit_date            118315 non-null  object
 26  price                          118315 non-null  float64
 27  freight_value                  118315 non-null  float64
 28  product_name_lenght            116606 non-null  float64
 29  product_description_lenght     116606 non-null  float64
 30  product_photos_qty             116606 non-null  float64
 31  product_weight_g               118295 non-null  float64
 32  product_length_cm              118295 non-null  float64
 33  product_height_cm              118295 non-null  float64
 34  product_width_cm               118295 non-null  float64
 35  product_category_english       116606 non-null  object
dtypes: float64(11), int64(4), object(21)
memory usage: 33.6+ MB

In [30]:
df5.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             104959
review_comment_message            67901
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_english           2542
dtype: int64

## DF6
### left merge Sellers df with the olist df
There are 3,095 records in the seller df

In [31]:
sellers.isna().sum()
#no missing values

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [32]:
#merge df's
df6 = df5.merge(sellers, on="seller_id", how='left')
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119148 entries, 0 to 119147
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119148 non-null  object
 1   customer_id                    119148 non-null  object
 2   order_status                   119148 non-null  object
 3   order_purchase_timestamp       119148 non-null  object
 4   order_approved_at              118971 non-null  object
 5   order_delivered_carrier_date   117062 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  119148 non-null  object
 8   customer_unique_id             119148 non-null  object
 9   customer_zip_code_prefix       119148 non-null  int64
 10  customer_city                  119148 non-null  object
 11  customer_state                 119148 non-null  object
 12  review_id                      119148 non-null  object
 13  review_score                   119148 non-null  int64
 14  review_comment_title           14189 non-null   object
 15  review_comment_message         51247 non-null   object
 16  review_creation_date           119148 non-null  object
 17  review_answer_timestamp        119148 non-null  object
 18  payment_sequential             119148 non-null  int64
 19  payment_type                   119148 non-null  object
 20  payment_installments           119148 non-null  int64
 21  payment_value                  119148 non-null  float64
 22  order_item_id                  118315 non-null  float64
 23  product_id                     118315 non-null  object
 24  seller_id                      118315 non-null  object
 25  shipping_limit_date            118315 non-null  object
 26  price                          118315 non-null  float64
 27  freight_value                  118315 non-null  float64
 28  product_name_lenght            116606 non-null  float64
 29  product_description_lenght     116606 non-null  float64
 30  product_photos_qty             116606 non-null  float64
 31  product_weight_g               118295 non-null  float64
 32  product_length_cm              118295 non-null  float64
 33  product_height_cm              118295 non-null  float64
 34  product_width_cm               118295 non-null  float64
 35  product_category_english       116606 non-null  object
 36  seller_zip_code_prefix         118315 non-null  float64
 37  seller_city                    118315 non-null  object
 38  seller_state                   118315 non-null  object
dtypes: float64(12), int64(4), object(23)
memory usage: 36.4+ MB

In [33]:
df6.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             104959
review_comment_message            67901
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_english           2542
seller_zip_code_prefix              833
seller_city                         833
seller_state                        833
dtype: int64

## Create olist dataframe
##### Merge Order Referce
1. **df**: inner merge customers + orders as df
2. **df2**: right merge df + reviews as df2
3. **df3**: right merge df2 + payments as df3
4. **df4**: right merge df3 + items as df4
5. **df5**: left merge df4 + pdf as df5
6. **df6**: left merge df5 + sellers as df6
7. **olist**: set olist = df6

In [34]:
# now we have starting points we can refer back to in case we get lost somewhere in the shuffle
olist = df6

In [35]:
#changing attributes data types
continuous_features = ['price','freight_value', 'payment_sequential','payment_installments','payment_value',
                      'product_name_lenght','product_description_lenght', 'product_photos_qty','product_weight_g',
                      'product_length_cm','product_height_cm','product_width_cm', 'review_score'] 

cat_features = ['order_status', 'customer_city', 'customer_state', 'customer_zip_code_prefix', 'seller_zip_code_prefix', 
                'seller_city', 'seller_state', 'product_category_english','review_id',
               'review_comment_title','review_comment_message','payment_type',
               'order_item_id', 'product_id','seller_id','order_id', 'customer_id','customer_unique_id'] 

date_features = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date',
                 'order_estimated_delivery_date', 'shipping_limit_date', 'review_creation_date', 'review_answer_timestamp']

In [36]:
# use the "astype" function to change the variable type
olist[continuous_features] = olist.copy()[continuous_features].astype(np.float64)
olist[cat_features] = olist.copy()[cat_features].astype("category")


olist.info() # now our data looks better!!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119148 entries, 0 to 119147
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119148 non-null  category
 1   customer_id                    119148 non-null  category
 2   order_status                   119148 non-null  category
 3   order_purchase_timestamp       119148 non-null  object
 4   order_approved_at              118971 non-null  object
 5   order_delivered_carrier_date   117062 non-null  object
 6   order_delivered_customer_date  115727 non-null  object
 7   order_estimated_delivery_date  119148 non-null  object
 8   customer_unique_id             119148 non-null  category
 9   customer_zip_code_prefix       119148 non-null  category
 10  customer_city                  119148 non-null  category
 11  customer_state                 119148 non-null  category
 12  review_id                      119148 non-null  category
 13  review_score                   119148 non-null  float64
 14  review_comment_title           14189 non-null   category
 15  review_comment_message         51247 non-null   category
 16  review_creation_date           119148 non-null  object
 17  review_answer_timestamp        119148 non-null  object
 18  payment_sequential             119148 non-null  float64
 19  payment_type                   119148 non-null  category
 20  payment_installments           119148 non-null  float64
 21  payment_value                  119148 non-null  float64
 22  order_item_id                  118315 non-null  category
 23  product_id                     118315 non-null  category
 24  seller_id                      118315 non-null  category
 25  shipping_limit_date            118315 non-null  object
 26  price                          118315 non-null  float64
 27  freight_value                  118315 non-null  float64
 28  product_name_lenght            116606 non-null  float64
 29  product_description_lenght     116606 non-null  float64
 30  product_photos_qty             116606 non-null  float64
 31  product_weight_g               118295 non-null  float64
 32  product_length_cm              118295 non-null  float64
 33  product_height_cm              118295 non-null  float64
 34  product_width_cm               118295 non-null  float64
 35  product_category_english       116606 non-null  category
 36  seller_zip_code_prefix         118315 non-null  category
 37  seller_city                    118315 non-null  category
 38  seller_state                   118315 non-null  category
dtypes: category(18), float64(13), object(8)
memory usage: 42.2+ MB

### Fix Dates as datetime64[ns]

In [37]:
# fix dates

for i in date_features:
    olist.loc[:,i] = pd.to_datetime(olist.copy().loc[:,i], errors="coerce")

In [38]:
olist.info() # now our data looks better!!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119148 entries, 0 to 119147
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119148 non-null  category
 1   customer_id                    119148 non-null  category
 2   order_status                   119148 non-null  category
 3   order_purchase_timestamp       119148 non-null  datetime64[ns]
 4   order_approved_at              118971 non-null  datetime64[ns]
 5   order_delivered_carrier_date   117062 non-null  datetime64[ns]
 6   order_delivered_customer_date  115727 non-null  datetime64[ns]
 7   order_estimated_delivery_date  119148 non-null  datetime64[ns]
 8   customer_unique_id             119148 non-null  category
 9   customer_zip_code_prefix       119148 non-null  category
 10  customer_city                  119148 non-null  category
 11  customer_state                 119148 non-null  category
 12  review_id                      119148 non-null  category
 13  review_score                   119148 non-null  float64
 14  review_comment_title           14189 non-null   category
 15  review_comment_message         51247 non-null   category
 16  review_creation_date           119148 non-null  datetime64[ns]
 17  review_answer_timestamp        119148 non-null  datetime64[ns]
 18  payment_sequential             119148 non-null  float64
 19  payment_type                   119148 non-null  category
 20  payment_installments           119148 non-null  float64
 21  payment_value                  119148 non-null  float64
 22  order_item_id                  118315 non-null  category
 23  product_id                     118315 non-null  category
 24  seller_id                      118315 non-null  category
 25  shipping_limit_date            118315 non-null  datetime64[ns]
 26  price                          118315 non-null  float64
 27  freight_value                  118315 non-null  float64
 28  product_name_lenght            116606 non-null  float64
 29  product_description_lenght     116606 non-null  float64
 30  product_photos_qty             116606 non-null  float64
 31  product_weight_g               118295 non-null  float64
 32  product_length_cm              118295 non-null  float64
 33  product_height_cm              118295 non-null  float64
 34  product_width_cm               118295 non-null  float64
 35  product_category_english       116606 non-null  category
 36  seller_zip_code_prefix         118315 non-null  category
 37  seller_city                    118315 non-null  category
 38  seller_state                   118315 non-null  category
dtypes: category(18), datetime64[ns](8), float64(13)
memory usage: 42.2 MB

In [39]:
# count NAs in the dataframe by column
olist.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             104959
review_comment_message            67901
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                       833
product_id                          833
seller_id                           833
shipping_limit_date                 833
price                               833
freight_value                       833
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_english           2542
seller_zip_code_prefix              833
seller_city                         833
seller_state                        833
dtype: int64

# Data Quality
### Verify data quality: 
- Explain any missing values, duplicate data, and outliers. 
- Are those mistakes? 
- How do you deal with these problems? 
- Be specific.

Before we begin to look at missing values, we decided based on our business objectives to look at how Olist can control logistics (shipping) costs, manager logistics partners and increase sales OR help sellers make more money through analysis of marketplace sales, we want to focus on completed sales only and we define that as *order_status* = *delivered* as well as a timestamp in the *order_delivered_customer_date*

In [40]:
# create a backup dateframe 
olist_backup = olist

In [41]:
# first let's just grab all records with order_status of delivered since that attribute has no missing values
olist = olist[olist.order_status == "delivered"]
olist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115728 entries, 0 to 119147
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115728 non-null  category
 1   customer_id                    115728 non-null  category
 2   order_status                   115728 non-null  category
 3   order_purchase_timestamp       115728 non-null  datetime64[ns]
 4   order_approved_at              115713 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115726 non-null  datetime64[ns]
 6   order_delivered_customer_date  115720 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115728 non-null  datetime64[ns]
 8   customer_unique_id             115728 non-null  category
 9   customer_zip_code_prefix       115728 non-null  category
 10  customer_city                  115728 non-null  category
 11  customer_state                 115728 non-null  category
 12  review_id                      115728 non-null  category
 13  review_score                   115728 non-null  float64
 14  review_comment_title           13751 non-null   category
 15  review_comment_message         48961 non-null   category
 16  review_creation_date           115728 non-null  datetime64[ns]
 17  review_answer_timestamp        115728 non-null  datetime64[ns]
 18  payment_sequential             115728 non-null  float64
 19  payment_type                   115728 non-null  category
 20  payment_installments           115728 non-null  float64
 21  payment_value                  115728 non-null  float64
 22  order_item_id                  115728 non-null  category
 23  product_id                     115728 non-null  category
 24  seller_id                      115728 non-null  category
 25  shipping_limit_date            115728 non-null  datetime64[ns]
 26  price                          115728 non-null  float64
 27  freight_value                  115728 non-null  float64
 28  product_name_lenght            114090 non-null  float64
 29  product_description_lenght     114090 non-null  float64
 30  product_photos_qty             114090 non-null  float64
 31  product_weight_g               115708 non-null  float64
 32  product_length_cm              115708 non-null  float64
 33  product_height_cm              115708 non-null  float64
 34  product_width_cm               115708 non-null  float64
 35  product_category_english       114090 non-null  category
 36  seller_zip_code_prefix         115728 non-null  category
 37  seller_city                    115728 non-null  category
 38  seller_state                   115728 non-null  category
dtypes: category(18), datetime64[ns](8), float64(13)
memory usage: 41.4 MB

In [42]:
olist.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date          2
order_delivered_customer_date         8
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             101977
review_comment_message            66767
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_name_lenght                1638
product_description_lenght         1638
product_photos_qty                 1638
product_weight_g                     20
product_length_cm                    20
product_height_cm                    20
product_width_cm                     20
product_category_english           1638
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

In [43]:
# let's also drop the 8 records missing a customer delivered timestamp
olist = olist[olist.order_delivered_customer_date.notnull()]
olist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115720 entries, 0 to 119147
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115720 non-null  category
 1   customer_id                    115720 non-null  category
 2   order_status                   115720 non-null  category
 3   order_purchase_timestamp       115720 non-null  datetime64[ns]
 4   order_approved_at              115705 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115719 non-null  datetime64[ns]
 6   order_delivered_customer_date  115720 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115720 non-null  datetime64[ns]
 8   customer_unique_id             115720 non-null  category
 9   customer_zip_code_prefix       115720 non-null  category
 10  customer_city                  115720 non-null  category
 11  customer_state                 115720 non-null  category
 12  review_id                      115720 non-null  category
 13  review_score                   115720 non-null  float64
 14  review_comment_title           13747 non-null   category
 15  review_comment_message         48956 non-null   category
 16  review_creation_date           115720 non-null  datetime64[ns]
 17  review_answer_timestamp        115720 non-null  datetime64[ns]
 18  payment_sequential             115720 non-null  float64
 19  payment_type                   115720 non-null  category
 20  payment_installments           115720 non-null  float64
 21  payment_value                  115720 non-null  float64
 22  order_item_id                  115720 non-null  category
 23  product_id                     115720 non-null  category
 24  seller_id                      115720 non-null  category
 25  shipping_limit_date            115720 non-null  datetime64[ns]
 26  price                          115720 non-null  float64
 27  freight_value                  115720 non-null  float64
 28  product_name_lenght            114082 non-null  float64
 29  product_description_lenght     114082 non-null  float64
 30  product_photos_qty             114082 non-null  float64
 31  product_weight_g               115700 non-null  float64
 32  product_length_cm              115700 non-null  float64
 33  product_height_cm              115700 non-null  float64
 34  product_width_cm               115700 non-null  float64
 35  product_category_english       114082 non-null  category
 36  seller_zip_code_prefix         115720 non-null  category
 37  seller_city                    115720 non-null  category
 38  seller_state                   115720 non-null  category
dtypes: category(18), datetime64[ns](8), float64(13)
memory usage: 41.4 MB

In [44]:
olist.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    15
order_delivered_carrier_date          1
order_delivered_customer_date         0
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             101973
review_comment_message            66764
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_name_lenght                1638
product_description_lenght         1638
product_photos_qty                 1638
product_weight_g                     20
product_length_cm                    20
product_height_cm                    20
product_width_cm                     20
product_category_english           1638
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

#### NOTE:
**That cleaned up a lot of missing values and didn't reduce the dataset very much.**

### Explore the 15 missing values for order_approved_at

In [45]:
# what are those 15 missing values for order_approved_at?
missing_approved = olist[olist['order_approved_at'].isnull()]
missing_approved

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_english,seller_zip_code_prefix,seller_city,seller_state
6292,e04abd8149ef81b95221e88f6ed9ab6a,2127dc6603ac33544953ef05ec155771,delivered,2017-02-18 14:40:00,NaT,2017-02-23 12:04:47,2017-03-01 13:25:33,2017-03-17,8a9a08c7ca8900a200d83cf838a07e0b,6708,...,675.0,2.0,20800.0,75.0,40.0,40.0,small_appliances,14882.0,jaboticabal,SP
19765,8a9adc69528e1001fc68dd0aaebbb54a,4c1ccc74e00993733742a3c786dc3c1f,delivered,2017-02-18 12:45:31,NaT,2017-02-23 09:01:52,2017-03-02 10:05:06,2017-03-21,91efb7fcabc17925099dced52435837f,93548,...,498.0,1.0,1008.0,33.0,14.0,26.0,construction_tools_safety,88090.0,florianopolis,SC
22728,7013bcfc1c97fe719a7b5e05e61c12db,2941af76d38100e0f8740a374f1a5dc3,delivered,2017-02-18 13:29:47,NaT,2017-02-22 16:25:25,2017-03-01 08:07:38,2017-03-17,e1f01a1bd6485e58ad3c769a5427d8a8,8230,...,NaN,NaN,3100.0,28.0,28.0,50.0,NaN,13360.0,capivari,SP
27092,5cf925b116421afa85ee25e99b4c34fb,29c35fc91fc13fb5073c8f30505d860d,delivered,2017-02-18 16:48:35,NaT,2017-02-22 11:23:10,2017-03-09 07:28:47,2017-03-31,7e1a5ca61b572d76b64b6688b9f96473,62700,...,1012.0,1.0,1200.0,42.0,25.0,15.0,cool_stuff,3426.0,sao paulo,SP
27691,12a95a3c06dbaec84bcfb0e2da5d228a,1e101e0daffaddce8159d25a8e53f2b2,delivered,2017-02-17 13:05:55,NaT,2017-02-22 11:23:11,2017-03-02 11:09:19,2017-03-20,c8822fce1d0bfa7ddf0da24fff947172,27945,...,1012.0,1.0,1200.0,42.0,25.0,15.0,cool_stuff,3426.0,sao paulo,SP
32110,c1d4211b3dae76144deccd6c74144a88,684cb238dc5b5d6366244e0e0776b450,delivered,2017-01-19 12:48:08,NaT,2017-01-25 14:56:50,2017-01-30 18:16:01,2017-03-01,6ff8b0d7b35d5c945633b8d60165691b,11030,...,1322.0,2.0,700.0,26.0,16.0,21.0,sports_leisure,83323.0,pinhais,PR
45903,d69e5d356402adc8cf17e08b5033acfb,68d081753ad4fe22fc4d410a9eb1ca01,delivered,2017-02-19 01:28:47,NaT,2017-02-23 03:11:48,2017-03-02 03:41:58,2017-03-27,2e0a2166aa23da2472c6a60c4af6f7a6,3573,...,586.0,1.0,1700.0,33.0,8.0,23.0,furniture_decor,14940.0,ibitinga,SP
47166,d77031d6a3c8a52f019764e68f211c69,0bf35cac6cc7327065da879e2d90fae8,delivered,2017-02-18 11:04:19,NaT,2017-02-23 07:23:36,2017-03-02 16:15:23,2017-03-22,c4c0011e639bdbcf26059ddc38bd3c18,13225,...,1738.0,1.0,300.0,16.0,15.0,15.0,sports_leisure,3028.0,sao paulo,SP
57994,7002a78c79c519ac54022d4f8a65e6e8,d5de688c321096d15508faae67a27051,delivered,2017-01-19 22:26:59,NaT,2017-01-27 11:08:05,2017-02-06 14:22:19,2017-03-16,d49f3dae6bad25d05160fc17aca5942d,36400,...,473.0,1.0,600.0,30.0,3.0,20.0,furniture_decor,14940.0,ibitinga,SP
73781,2eecb0d85f281280f79fa00f9cec1a95,a3d3c38e58b9d2dfb9207cab690b6310,delivered,2017-02-17 17:21:55,NaT,2017-02-22 11:42:51,2017-03-03 12:16:03,2017-03-20,5a4fa4919cbf2b049e72be460a380e5b,35620,...,441.0,3.0,4300.0,36.0,13.0,20.0,garden_tools,3554.0,sao paulo,SP
75350,51eb2eebd5d76a24625b31c33dd41449,07a2a7e0f63fd8cb757ed77d4245623c,delivered,2017-02-18 15:52:27,NaT,2017-02-23 03:09:14,2017-03-07 13:57:47,2017-03-29,79af1bbf230a2630487975aa5d7d6220,37660,...,438.0,1.0,1200.0,30.0,5.0,20.0,furniture_decor,14940.0,ibitinga,SP
80968,88083e8f64d95b932164187484d90212,f67cd1a215aae2a1074638bbd35a223a,delivered,2017-02-18 22:49:19,NaT,2017-02-22 11:31:06,2017-03-02 12:06:06,2017-03-21,bc1896dc77f49e6dec880445a9b443a3,21020,...,440.0,1.0,250.0,18.0,3.0,28.0,telephony,11010.0,santos,SP
80969,88083e8f64d95b932164187484d90212,f67cd1a215aae2a1074638bbd35a223a,delivered,2017-02-18 22:49:19,NaT,2017-02-22 11:31:06,2017-03-02 12:06:06,2017-03-21,bc1896dc77f49e6dec880445a9b443a3,21020,...,440.0,1.0,250.0,18.0,3.0,28.0,telephony,11010.0,santos,SP
86635,3c0b8706b065f9919d0505d3b3343881,d85919cb3c0529589c6fa617f5f43281,delivered,2017-02-17 15:53:27,NaT,2017-02-22 11:31:30,2017-03-03 11:47:47,2017-03-23,c094ac95fcd52f821809ec232a7a6956,95795,...,702.0,1.0,2700.0,42.0,11.0,36.0,bed_bath_table,14940.0,ibitinga,SP
101696,2babbb4b15e6d2dfe95e2de765c97bce,74bebaf46603f9340e3b50c6b086f992,delivered,2017-02-18 17:15:03,NaT,2017-02-22 11:23:11,2017-03-03 18:43:43,2017-03-31,f79be7c08dd24b72d34634f1b89333a4,65110,...,1012.0,1.0,1200.0,42.0,25.0,15.0,cool_stuff,3426.0,sao paulo,SP

In [46]:
# looks like we can impute those values...let's see what the average time is between and order purchase and approval
purchase_to_approve = olist[['order_purchase_timestamp','order_approved_at','order_status']]
purchase_to_approve.dtypes

order_purchase_timestamp    datetime64[ns]
order_approved_at           datetime64[ns]
order_status                      category
dtype: object

In [47]:
# let's remove those 14 missing values
purchase_to_approve[purchase_to_approve.order_approved_at.isnull()]

       order_purchase_timestamp order_approved_at order_status
6292        2017-02-18 14:40:00               NaT    delivered
19765       2017-02-18 12:45:31               NaT    delivered
22728       2017-02-18 13:29:47               NaT    delivered
27092       2017-02-18 16:48:35               NaT    delivered
27691       2017-02-17 13:05:55               NaT    delivered
32110       2017-01-19 12:48:08               NaT    delivered
45903       2017-02-19 01:28:47               NaT    delivered
47166       2017-02-18 11:04:19               NaT    delivered
57994       2017-01-19 22:26:59               NaT    delivered
73781       2017-02-17 17:21:55               NaT    delivered
75350       2017-02-18 15:52:27               NaT    delivered
80968       2017-02-18 22:49:19               NaT    delivered
80969       2017-02-18 22:49:19               NaT    delivered
86635       2017-02-17 15:53:27               NaT    delivered
101696      2017-02-18 17:15:03               NaT    delivered

In [48]:
# removing na's
purchase_to_approve = purchase_to_approve.dropna(axis=0)

In [49]:
purchase_to_approve[purchase_to_approve.order_approved_at.isnull()].sum()

order_purchase_timestamp    0.0
order_approved_at           0.0
order_status                0.0
dtype: float64

In [50]:
# let's get some averages
purchase_to_approve['pta_time'] = purchase_to_approve['order_approved_at'] - purchase_to_approve['order_purchase_timestamp']
# convert timedelta to numeric value for averaging
purchase_to_approve['new'] = purchase_to_approve['pta_time'].values.astype(np.int64)                                           

purchase_to_approve.head()

,order_purchase_timestamp,order_approved_at,order_status,pta_time,new
0,2017-10-02 10:56:33,2017-10-02 11:07:15,delivered,0 days 00:10:42,642000000000
1,2017-10-02 10:56:33,2017-10-02 11:07:15,delivered,0 days 00:10:42,642000000000
2,2017-10-02 10:56:33,2017-10-02 11:07:15,delivered,0 days 00:10:42,642000000000
3,2018-07-24 20:41:37,2018-07-26 03:24:27,delivered,1 days 06:42:50,110570000000000
4,2018-08-08 08:38:49,2018-08-08 08:55:23,delivered,0 days 00:16:34,994000000000

In [51]:
# average time to approve purchase from order
avg_time_to_app = purchase_to_approve['new'].sum()/purchase_to_approve['new'].count()
avg_time_to_app
pd.to_timedelta(avg_time_to_app)
# looks like about 10.5 hours is the average so we can just copy the purchase time stamp to the approved for those 14

Timedelta('0 days 10:25:58.064647')

In [52]:
 #fill in missing values if indices match
olist.order_approved_at = olist.order_approved_at.fillna(olist.order_purchase_timestamp)

In [53]:
olist.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date          1
order_delivered_customer_date         0
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             101973
review_comment_message            66764
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_name_lenght                1638
product_description_lenght         1638
product_photos_qty                 1638
product_weight_g                     20
product_length_cm                    20
product_height_cm                    20
product_width_cm                     20
product_category_english           1638
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

### Freight Discussion
Because our research showed that shipping costs are a big factor (or they were during the period this dataset covers), any values missing for package weight and size should be removed since we have no way to compute those

### Explore those 20 records missing package attributes

In [54]:
# which rows have NAs - specifically those with just 20, I am thinking they are the same rows
missing_pkg_desc = olist[olist['product_weight_g'].isnull()]
missing_pkg_desc[['product_id']]

                              product_id
8761    5eb564652db742ff8f28759cd8d2652a
9260    5eb564652db742ff8f28759cd8d2652a
9261    5eb564652db742ff8f28759cd8d2652a
22569   5eb564652db742ff8f28759cd8d2652a
22570   5eb564652db742ff8f28759cd8d2652a
22571   5eb564652db742ff8f28759cd8d2652a
33766   5eb564652db742ff8f28759cd8d2652a
38101   5eb564652db742ff8f28759cd8d2652a
42901   5eb564652db742ff8f28759cd8d2652a
42902   5eb564652db742ff8f28759cd8d2652a
45964   09ff539a621711667c43eba6a3bd8466
49381   5eb564652db742ff8f28759cd8d2652a
54768   5eb564652db742ff8f28759cd8d2652a
65846   5eb564652db742ff8f28759cd8d2652a
81377   5eb564652db742ff8f28759cd8d2652a
83792   5eb564652db742ff8f28759cd8d2652a
86973   5eb564652db742ff8f28759cd8d2652a
87530   5eb564652db742ff8f28759cd8d2652a
89079   5eb564652db742ff8f28759cd8d2652a
106819  5eb564652db742ff8f28759cd8d2652a

In [55]:
# 19 of the 20 are all the same product_id, let's see if we can find information on that in the rest of the dataset
olist[olist.product_id=='5eb564652db742ff8f28759cd8d2652a']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_english,seller_zip_code_prefix,seller_city,seller_state
8761,6e150190fbe04c642a9cf0b80d83ee16,135a42a465867ff932f1222f71a3efb2,delivered,2017-06-24 16:33:35,2017-06-24 16:45:14,2017-06-29 16:08:40,2017-07-07 18:35:52,2017-07-31,c5628087b9b42549720ee8b57f0a6a98,78600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
9260,d38dcb503cd4ddc6ce7702552918bd8f,b0a3a02fe893d9a9385a98db1348244b,delivered,2017-06-04 17:44:18,2017-06-04 17:55:13,2017-06-05 16:13:33,2017-06-14 16:38:11,2017-07-05,2eab2d0ae1015e2e7fb2062f465f524f,91920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
9261,d38dcb503cd4ddc6ce7702552918bd8f,b0a3a02fe893d9a9385a98db1348244b,delivered,2017-06-04 17:44:18,2017-06-04 17:55:13,2017-06-05 16:13:33,2017-06-14 16:38:11,2017-07-05,2eab2d0ae1015e2e7fb2062f465f524f,91920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
22569,ddf16d77e858a32f36e10c289a28ef61,84cc013dd1790fdafb0fa598695cf3c3,delivered,2017-04-24 10:36:24,2017-04-24 10:50:08,2017-04-25 10:59:46,2017-05-05 12:42:39,2017-05-18,90c205b0bed658a20ba141d2960d6811,89930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
22570,ddf16d77e858a32f36e10c289a28ef61,84cc013dd1790fdafb0fa598695cf3c3,delivered,2017-04-24 10:36:24,2017-04-24 10:50:08,2017-04-25 10:59:46,2017-05-05 12:42:39,2017-05-18,90c205b0bed658a20ba141d2960d6811,89930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
22571,ddf16d77e858a32f36e10c289a28ef61,84cc013dd1790fdafb0fa598695cf3c3,delivered,2017-04-24 10:36:24,2017-04-24 10:50:08,2017-04-25 10:59:46,2017-05-05 12:42:39,2017-05-18,90c205b0bed658a20ba141d2960d6811,89930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
33766,1521c6bb7b1028154c8c67cf80fa809f,ca29b2bf57243228e98eab2dab805ae9,delivered,2017-04-02 10:00:43,2017-04-02 10:10:16,2017-04-04 16:19:55,2017-04-18 13:53:58,2017-05-04,eabb0c62caa8436a85aa820d2ac1323b,73105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
38101,e3daea0200104991cb979c2fcc509ae7,4730251e8934a542a009d77dfd027375,delivered,2017-03-30 14:07:44,2017-03-30 14:22:36,2017-03-31 22:06:32,2017-04-07 14:43:38,2017-04-25,8f5f778f80efda903eb24efe69d2a6c3,14340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
42901,415cfaaaa8cea49f934470548797fed1,a8dff6357fea30071032ff2091d16430,delivered,2017-04-02 10:25:38,2017-04-02 10:35:19,2017-04-13 04:37:45,2017-04-29 10:14:19,2017-05-02,cd63fb1b20b66ae7f91f848942895493,86709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
42902,415cfaaaa8cea49f934470548797fed1,a8dff6357fea30071032ff2091d16430,delivered,2017-04-02 10:25:38,2017-04-02 10:35:19,2017-04-13 04:37:45,2017-04-29 10:14:19,2017-05-02,cd63fb1b20b66ae7f91f848942895493,86709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
49381,101157d4fae1c9fb74a00a5dee265c25,f72b2f8d9295ef93fd40a4c49f67a42b,delivered,2017-04-03 07:54:34,2017-04-04 08:02:26,2017-04-12 08:58:13,2017-04-13 21:08:08,2017-05-02,a330c3cd4e607dd2f8dca4e303325e6f,22631,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
54768,bf49f84a0580ef6751e13357776b7ed9,e7f41abe62db82cffe5c8f6138f18fb2,delivered,2017-07-02 21:25:56,2017-07-02 21:35:18,2017-07-04 15:35:12,2017-07-11 16:47:17,2017-07-28,5a06bd3849da761b21e0bd78eeda8688,83880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
65846,bbfc7badbed2f1828e22b6d629201bd4,f25f442c0ff3a9401eed8ed3a686f362,delivered,2017-07-09 10:35:08,2017-07-11 04:04:10,2017-07-11 17:20:00,2017-07-18 17:59:36,2017-08-02,720bef87b58a7744196ef8f494ac9617,18052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
81377,eb855beb3ac99461f7a076b4c3652472,c91289ce43149a8ea5560d446f1d1dd2,delivered,2017-03-23 15:51:16,2017-03-23 16:03:46,2017-03-24 13:38:18,2017-03-30 13:41:24,2017-04-19,4e78d9253ba5cc1d990eb09ea45a3a2c,39408,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
83792,a7a43f469c0d7bdb0a23a82db125aefa,d7c95dc1ece116c14188092ead3d0951,delivered,2017-08-21 13:00:05,2017-08-21 13:15:11,2017-08-22 20:43:40,2017-08-28 19:07:55,2017-09-18,c0378e9280a6e9401f2b0fd4a288496b,30421,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
86973,595316a07cd3dea9db7adfcc7e247ae7,696e8f940eeee6b009d1539b59e47366,delivered,2017-08-09 23:50:08,2017-08-11 04:26:04,2017-08-14 14:46:16,2017-08-17 19:32:48,2017-08-25,5c71f03d38ea1426874ace382efa488d,13190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
87530,c1424efcde3c9e9febd9e1761667789e,8a80133b8ace6b21415367a131a75a26,delivered,2017-04-07 14:51:01,2017-04-08 02:45:36,2017-04-11 13:15:21,2017-04-17 19:06:00,2017-05-08,cf5e6a37d7ffef60af859e8025b3112d,35430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
89079,6f497c40431d5fb0cfbd6c943dd29215,5beb36d1757aa17a044222a7d79b9820,delivered,2017-04-01 14:26:15,2017-04-04 05:55:32,2017-04-04 16:19:49,2017-04-06 14:53:18,2017-04-27,20b4eaef2100b061787764c2cba43541,12703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP
106819,a2456e7f02197951664897a94c87242d,7317f41f2cf650174af819cdb68284f0,delivered,2017-03-30 11:39:20,2017-03-30 11:50:09,2017-03-30 16:45:30,2017-05-04 14:32:43,2017-05-10,047c439e6c563abb6ab4b9ff18298d55,64228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12327.0,jacarei,SP

In [56]:
# doesn't look like there is any data other than these 19 entries, so we can go ahead and remove them
no_prod_id1 = olist[olist.product_id=='5eb564652db742ff8f28759cd8d2652a'].index.values
olist = olist.drop(no_prod_id1, axis=0)

In [57]:
# let's check those were removed
missing_pkg_desc1 = olist[olist['product_weight_g'].isnull()]
missing_pkg_desc1[['product_id']]

                             product_id
45964  09ff539a621711667c43eba6a3bd8466

In [58]:
# now let's see if we have any information on that package_id
olist[olist.product_id=='09ff539a621711667c43eba6a3bd8466']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_english,seller_zip_code_prefix,seller_city,seller_state
45964,85f8ad45e067abd694b627859fa57453,1d088dea8732788ec35dd4ee6dd76112,delivered,2017-01-29 21:40:02,2017-01-30 22:32:20,2017-02-02 05:04:58,2017-02-07 10:46:00,2017-03-08,69b2b29382af03e03e486ad307a76000,90160,...,865.0,3.0,NaN,NaN,NaN,NaN,baby,86020.0,londrina,PR

In [59]:
# no information, so we will drop it too
olist=olist.drop([45964],axis=0)

In [60]:
olist.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date          1
order_delivered_customer_date         0
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             101953
review_comment_message            66758
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_name_lenght                1619
product_description_lenght         1619
product_photos_qty                 1619
product_weight_g                      0
product_length_cm                     0
product_height_cm                     0
product_width_cm                      0
product_category_english           1619
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

Note: in practice we probably wouldn't have wasted this much time on 20 values, but it's good exercise with python

### Product Information Missing
Let's look at those 1,619 missing values, I do recall there was an NaN in the product category that we had no way to translate to Enlgish - more than likely these are those, but let's take a look

In [61]:
missing_prod_info = olist[olist.product_category_english.isna()]
missing_prod_info.product_id.unique()

[71225f49be70df4297892f6a5fa62171, 9820e04e332fc450d6fd975befc1bc28, 3bc5164bc7f4be77002d6651da65c98c, 5a848e4ab52fd5445cdc07aab1c40e48, c600d7f13104e8db2ca2b9fa78581409, ..., 0fa699aaa0a38aa5d1de8e7fe04d2204, cebad0ed16ecd450b97d2be843d3da86, f22ccf28078d6ba8961033bc6a20bc12, 45d0bf74166b507caa830564130b5ba0, e9cbc0910ab050cbd92fbeb051c270ea]
Length: 583
Categories (583, object): [71225f49be70df4297892f6a5fa62171, 9820e04e332fc450d6fd975befc1bc28, 3bc5164bc7f4be77002d6651da65c98c, 5a848e4ab52fd5445cdc07aab1c40e48, ..., cebad0ed16ecd450b97d2be843d3da86, f22ccf28078d6ba8961033bc6a20bc12, 45d0bf74166b507caa830564130b5ba0, e9cbc0910ab050cbd92fbeb051c270ea]

In [73]:
# capture the unique product id's to see if there are any in the dataset that have a match with product information
miss_prod_info_prod_ids = missing_prod_info.product_id.unique()
miss_prod_info_prod_ids

[71225f49be70df4297892f6a5fa62171, 9820e04e332fc450d6fd975befc1bc28, 3bc5164bc7f4be77002d6651da65c98c, 5a848e4ab52fd5445cdc07aab1c40e48, c600d7f13104e8db2ca2b9fa78581409, ..., 0fa699aaa0a38aa5d1de8e7fe04d2204, cebad0ed16ecd450b97d2be843d3da86, f22ccf28078d6ba8961033bc6a20bc12, 45d0bf74166b507caa830564130b5ba0, e9cbc0910ab050cbd92fbeb051c270ea]
Length: 583
Categories (583, object): [71225f49be70df4297892f6a5fa62171, 9820e04e332fc450d6fd975befc1bc28, 3bc5164bc7f4be77002d6651da65c98c, 5a848e4ab52fd5445cdc07aab1c40e48, ..., cebad0ed16ecd450b97d2be843d3da86, f22ccf28078d6ba8961033bc6a20bc12, 45d0bf74166b507caa830564130b5ba0, e9cbc0910ab050cbd92fbeb051c270ea]

In [105]:
# let's see how many matches we find in the dataset, if it is more than 1619, then we may be able to impute some of the NaNs
count=0
for i in range(len(olist)):
    if olist.iloc[i,23] in miss_prod_info_prod_ids:
        count = count+1

count

1619

In [115]:
# confirmed, there are no additional matches of those product_ids outside of these that are NaN for a category
# so we will go ahead and delete them
no_prod_cat = olist[olist.product_category_english.isna()].index
olist = olist.drop(no_prod_cat, axis=0)

In [116]:
olist.isna().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date          1
order_delivered_customer_date         0
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
review_id                             0
review_score                          0
review_comment_title             100414
review_comment_message            65854
review_creation_date                  0
review_answer_timestamp               0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      0
product_length_cm                     0
product_height_cm                     0
product_width_cm                      0
product_category_english              0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
dtype: int64

### **------End Missing Data------**

### Start with some basic plotting

In [ ]:
# start withs some basic plotting
# this python magics will allow plot to be embedded into the notebook
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
%matplotlib inline

In [ ]:
#date features: day of week and month of order_purchase using purchase timestamp. Further converted to categorical data type.
olist['purchase_wk_day'] = olist.copy()['order_purchase_timestamp'].dt.day_name().astype('category')


olist['purchase_wk_day'].unique()

In [ ]:
# create a column for purchase month in regular english
olist['purchase_month'] = olist.copy()['order_purchase_timestamp'].dt.month_name().astype('category')

olist['purchase_month'].unique()

In [ ]:
# number of records per month
olist['purchase_month'].value_counts()

In [ ]:
# subset months and price (month spent on items, not including shipping)

olist_sub = olist[['price','purchase_month']]

month_price = olist_sub.groupby(by='purchase_month').sum()
month_price = month_price.sort_values(['price'])
month_price

In [ ]:
month_price.index.values

In [ ]:
# plot some of these continuous varialbes
plt.style.use('ggplot')

fig, ax = plt.subplots(figsize=(10,10), facecolor='w') # create figure on an axes, determine size
ax.bar(month_price.index.values, month_price.price, label="linear") # plot the data month_price created above in barchart
plt.xticks(month_price.index.values, month_price.index.values, rotation='vertical') # makes xticks vericle vs horizontal
ax.set_facecolor('white') #sets background to white
ax.set_xlabel('Months by Sales', fontsize='15') # x label
ax.set_ylabel('Sales (000,000)', fontsize='15') # y label
ax.set_title('Sales by Month Name For Entire Dataset', fontsize='20') # graph name
plt.show()

In [ ]:
# let's try a heatmap
# plot the correlation matrix using seaborn 
# sns.corrplot() was depricated with v0.6!!!
sns.set(style="darkgrid") # one of the many styles to plot using

cmap = sns.diverging_palette(220, 10, as_cmap=True) # one of the many color mappings

f, ax = plt.subplots(figsize=(15,15))

sns.heatmap(olist.corr(), cmap=cmap, annot=True)

f.tight_layout()

Looks like price correlates with payment_value
Product_weight_g with freight_value
product_height with weight
product_width with weight
product_length with width